* {
  background: #242323;
  font-family: 'Montserrat', sans-serif;
}

.player {
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.album-art{
  display: block;
  height: 300px;
  width: 300px;
  margin: 50px auto 50px auto;
}

.now-playing, .track-name{
  text-align: center;
  color: white;
}

.play-button, .next-track, .previous-track {
  color: white;
}

.play-button {
  margin: 0px 50px 0px 50px;
}

.track-name {
  font-size: 1.5rem;
}

.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.slider_container {
  width: 75%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 25px auto 25px auto;
  color: white;
}

.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: white;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 60%;
  margin: 0px 10px 0px 10px;
}
 
.volume_slider {
  width: 30%;
}

